*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
}
html, body {
height: 100vh;
background: #fffffe;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
/* overflow: hidden; */
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
    }

    
.title-project {
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: 700;
    color: #020826;
    padding-top: 45px;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


.menu {
    position: fixed;
    width: 100px;
    height: 100px;
    background: #8c7851;
    border-radius: 0 0 0 100%;
    /* right: 0; */
    left: calc(100% - 100px);
    transition: 0.5s;
    z-index: 150;
}

.menu:hover {
    height: 200px;
    width: 200px;
    left: calc(100% - 200px)
}

.menu nav {
    position: absolute;
    top: -100px;
    left: 300px;
    transition: 0.5s;
}

.menu:hover nav {
    top: 0%;
    left: 20%;
}

.menu nav ul {
    padding-top: 25px;
}

.menu a {
    /* display: block; */
    text-decoration: none;
    color: #fffffe;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 400;
}

.menu a:nth-child(2) {
    padding-left: 25px;
}


.container-main {
    max-width: 1300px;
    width: 80%;
    height: auto;
    position: relative;
    display: grid;
    margin: 15px auto;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-column-gap: 25px;
    justify-content: center;
    justify-items: center;
}



.card {
    position: relative;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.card .face.face1 {
    position: relative;
    background: #eaddcf;
    z-index: 1;
    transform: translateY(100px);
}

.card:hover .face.face1 {
    transform: translateY(0);
    /* background: #eaddcf; */
}

.card .face.face1 .content {
    padding-top: 15px;
    opacity: 0.6;
    transform: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    object-fit: cover;
}

.card:hover .face.face1 .content {
    opacity: 1;
}

h3 {
    margin: 10px 0 0;
    text-align: center;
    font-size: 1.5em;
    color: #020826;
    padding: 0;
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 600;
}

i {
    font-size: 50px;
}

.card .face.face2 {
    position: relative;
    background: #f9f4ef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.card:hover .face.face2 {
    transform: translateY(0);
}

.card .face.face2 .content {
    color: #716040;
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 500;
}

.card .face.face2 .content a {
    margin: 15px 0 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #fffffe;
    background: #8c7851;
    padding: 5px;
    border: 1px solid #8c7851;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.card .face.face2 .content a:hover {
    background: #fffffe;
    color: #8c7851;
}


@keyframes swing-in-top-fwd {
0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
}
100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
}
}

