---
const { background, color } = Astro.props;
---

<div class="flex items-center justify-between gap-5 pt-6">
  <button
    class={`${background} ${color} w-36 rounded-3xl py-2.5 px-4 border-none`}
  >
    <a href="contact">Get in touch</a>
  </button>
  <button class="bg-button rounded-3xl p-2">
    <a href="https://www.linkedin.com/in/ab-rahmani/" target="_blank"
      >LinkedIn</a
    >
  </button>
  <button class="bg-button rounded-3xl p-2">
    <a href="https://github.com/Abdrul/" target="_blank">Github</a>
  </button>
</div>
