---

---


<section class="pt-28 pb-20 px-8 bg-background text-headline ">
  <div class="text-center">
    <div>
      <p class="text-clamp-md">Rahmani Abel - FrontEnd Web Developer</p>
      <h1 class="text-clamp-lg font-bold">I help you in the creation of your websites</h1>
    </div>
  </div>
</section>