---
import ButtonLink from "./buttonLink.astro";
---

<footer class="py-12 flex justify-center font-ubuntu bg-backgroundThree">
  <div
    class="max-w-4xl w-full flex justify-center items-center gap-6 bg-secondBackground text-paragraph p-12 rounded-md"
  >
    <div class="w-28">
      <img src="/logo-transparent-png.png" alt="" />
    </div>
    <div>
      <p>Transformez votre vision en réalité numérique</p>
      <ButtonLink background="bg-headline" color="text-background" />
    </div>
  </div>
</footer>
