---
import '../styles/global.css'
---

<header class="flex justify-around items-center pt-12 bg-background">
  <div class="w-28" >
    <img src="/logo-transparent-png.png" alt="logo" />
  </div>
  <ul  class="flex justify-between max-w-xs w-full font-ubuntu text-paragraph text-clamp-sm">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="about">About</a>
    </li>
    <li>
      <a href="contact">Contact</a>
    </li>
  </ul>
</header>