---
import Card from "./card.astro";
---

<section class="bg-background pt-28 pb-20 px-8">
  <div class="flex justify-center gap-4 flex-wrap">
    <Card title="Gestion de projet web" icon="fa-sharp fa-solid fa-laptop-code">
      Site vitrine, corporate, évènementiel, e-commerce, intranet,capplication
      mobile.
    </Card>
    <Card title="Intégration Web" icon="fa-solid fa-pen">
      Des intégrations HTML / CSS respectueuses des standards du Web.
    </Card>
    <Card title="Dynamise des pages" icon="fa-solid fa-rotate">
      Des animations de contenu non intrusives pour embellir votre projet.
    </Card>
  </div>
</section>
