---
import Card from "./card.astro";
---

<section class="bg-background pt-28 pb-20 px-8">
  <div class="flex justify-center gap-4 flex-wrap">
    <Card
      title="Web project management"
      icon="fa-sharp fa-solid fa-laptop-code"
    >
      Showcase, corporate, event, e-commerce, intranet, mobile application
      mobile application.
    </Card>
    <Card title="Web Integration" icon="fa-solid fa-pen">
      HTML / CSS integrations that respect web standards.
    </Card>
    <Card title="Make pages dynamic" icon="fa-solid fa-rotate">
      Non-intrusive content animations to enhance your project.
    </Card>
  </div>
</section>
