---
---

<section class="pt-20 pb-8 px-8 flex justify-center">
  <div>
    <h1 class="text-clamp-lg mb-5 text-headline">Let's chat !</h1>
    <p class="max-w-7xl w-full mb-6 text-paragraph text-2xl">
      Looking forward to meet you and learn more about your business and the
      design challenges it's facing. Feel free to get in touch for inquiries or
      a virtual coffee.
    </p>
    <div
      class="max-w-2xl w-full flex justify-between flex-wrap gap-6 text-paragraph"
    >
      <div>
        <span>Send me an email</span>
        <a
          class="block text-2xl text-inherit font-semibold"
          href="mailto:rahmanipro.abel@outlook.fr">rahmanipro.abel@outlook.fr</a
        >
      </div>
      <div>
        <span>Chat on Discord</span>
        <a class="block text-2xl text-inherit font-semibold" href="#"
          >Abel#6225</a
        >
      </div>
      <div>
        <span>Connect on LinkedIn</span>
        <a
          class="block text-2xl text-inherit font-semibold"
          href="https://www.linkedin.com/in/ab-rahmani/"
          target="_blank">https://www.linkedin.com/in/ab-rahmani/</a
        >
      </div>
    </div>
  </div>
</section>
