---
import ButtonLink from "./buttonLink.astro";
---

<section class="py-16 bg-background">
  <div
    class="flex gap-12 max-w-7xl w-full m-0 mx-auto bg-headline p-5 rounded-lg"
  >
    <div class="w-1/3">
      <h1 class="text-backgroundThree text-clamp-md">
        A good kid who wants to make your dreams come true!
      </h1>
      <ButtonLink background="bg-background" color="text-headline" />
    </div>
    <div class="w-2/3">
      <p class="text-background text-clamp-sm">
        My name is Abel and I'm based in Paris. I have a strong background in
        web development, having worked on many projects as a volunteer to gain
        experience. Through these projects, I have acquired a great ability to
        turn abstract ideas into concrete products. I believe that my experience
        as a volunteer developer has allowed me to develop a strong ability to
        work with a variety of clients and users, while creating functional and
        user-friendly products. My web development skills are broad, ranging
        from designing and implementing websites and mobile applications to
        integrating e-commerce functionality. I also have a passion for video
        games and I believe this gives me a unique perspective on how to design
        engaging and fun user experiences. If you're looking for a skilled and
        passionate web developer to turn your ideas into reality, I'm your man.
        Feel free to check out my past projects and contact me to learn more.
      </p>
    </div>
  </div>
</section>
