---
import ProjectDisplay from "./projectDisplay.astro";
const imgProjectOne = [
  "/dash1.png",
  "/dash2.png",
  "/dash3.png",
  "/dash4.png",
  "/dash5.png",
  "/dash6.png",
];

const imgProjectTwo = ["/valo1.png", "/valo2.png", "/valo3.png"];

const imgProjectThree = [
  "/ecommer.png",
  "/ecommerce2.png",
  "/ecommer3.png",
  "/ecommer4.png",
  "/ecommer5.png",
  "/ecommer1.png",
];
---

<section class="bg-secondBackground pt-28 pb-20 px-8">
  <ProjectDisplay content={imgProjectOne}>
    In this project, I realized since a model a complete dashboard which has to
    maintain its business in the game of GTA V, it is an integration directly
    from FiveM in the game. The goal of this dashboard, is that the business
    owner can create new employees, fire them, give them a rank, manage
    employees, fire them, give them a grade, manage the stocks of his company,
    and even and even graphically show the status of expenses and income. See
    also how much an employee generates etc. I worked in a team of three on the
    project, communication and listening was a must.
  </ProjectDisplay>
  <ProjectDisplay content={imgProjectTwo}>
    Site which consists simply in presenting the agents of valorant, the maps,
    and finally the weapons of this one. This project aimed to work on
    react-query, to implement features like debounce for my search bar
  </ProjectDisplay>
</section>
